.pokemon-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  column-gap: 16px;
  row-gap: 50px;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  text-align: center;
  max-width: 500px;
}

mat-card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.load-more-container {
  margin: 40px;
  display: flex;
  justify-content: center;
}
